<div class="container">
  <h2 class="my-4"><span class="bg-light"><%= @group.name %></span></h2>
  <p><%= @group.introduction %></p>

  <div id="group_id" style="display:none"><%=@group.id%></div>
  <div id="calendar"></div>

  <div>
    <%= form_with model: [@group, @plan], url: group_plans_path(@plan.group_id, @plan.id), method: :post do |f| %>
      <%= f.text_field :title, class: 'form-control'  %><br>
      <%= f.datetime_select :start, class: 'form-control' %><br>
      <%= f.datetime_select :end, class: 'form-control' %><br>
      <%= f.hidden_field :group_id, :value => @group.id %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.submit %>
    <% end %>
  </div>
  <div>
    <% @new_plans.each do |plan| %>
      <%= plan.start %><%= plan.title %>
    <% end %>
  </div>


  <h3 class="my-4"><span class="bg-light">メンバー一覧（<%= @users.count + 1 %>人）</span></h3>
  <div class="col-12">
    <%= @group_owner.name%><br>
    <% @users.each do |user| %>
      <% if @group.owner_id == current_user.id %>ID<%= user.id%><% end %><%= user.name %><br>
    <% end %>
    <% unless @group.owner_id == current_user.id %>
      <%= link_to "退会", group_delete_member_path(current_user.id), method: :delete, "data-confirm" => "本当にt退会しますか？", class: "btn btn-danger" %>
    <% end %>
  </div>
  <% if @group.owner_id == current_user.id %>
  <h3 class="my-4"><span class="bg-light"><%= link_to new_group_invitation_path(@group.id) do %>グループに招待する<% end %></span></h>
    <% if @invitations.count == 0 %>
    <% else %>
    <h3 class="my-4"><%= link_to group_invitations_path(@group.id) do %><span class="bg-light">招待中</span><% end %></h>
    <% end %>
  <% end %>
</div>