<div class="container">
  <h2>グループへ招待</h2>

  <div class="row">
    <%= form_with model: @invitation, url: group_invitations_path(@group.id), method: :post do |f| %>
      <label>ID</label>
      <%= f.number_field :user_id %>
      <%= f.hidden_field :owner_id, :value => current_user.id %>
      <%= f.hidden_field :group_id, :value => @group.id %>
      <%= f.submit "招待する", class: "btn btn-success mb-3" %>
    <% end %>
  </div>
</div>