<div class="container">
  <h2 class="my-4"><span class="bg-light">ユーザ情報編集</span></h2>
  <% if @user.email == 'guest@example.com' %>
    <p>ゲストユーザーはユーザー情報の編集ができません。</p>
  <% else %>
    <div class="row">
      <div class="col-12 my-2">
        <strong>登録情報</strong></td>
      </div>
      <%= form_with model: @user, url: user_path(@user.id), method: :patch do |f| %>
      <div class="col-12">
        <table>
          <tbody class="table">
            <tr>
              <td class="bg-light">ID</td>
              <td><%= @user.id %></td>
            </tr>
            <tr>
              <td class="bg-light">氏名</td>
              <td><%= f.text_field :name, class: "form-control" %></td>
            </tr>
            <tr>
              <td class="bg-light">メールアドレス</td>
              <td><%= f.email_field :email, class: "form-control" %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <%= f.submit "更新する", class: "btn btn-success" %>
      <% end %>
    </div>
  <% end %>
  <%= link_to "back", user_path(current_user.id) %>
</div>