<!DOCTYPE html>
<html>
  <head>
    <title>ShareCalendar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-dark sticky-top">
      <nav class="navbar navbar-expand-lg navbar-dark position-relative">
        <div class="container">
          <a class="navbar-brand" href="/"><span><i class="fas fa-calendar-alt mr-1"></i>ShareCalendar</span></a>
          <% if user_signed_in? %>
            <p class="text-white ml-5 mt-2 pl-5">ようこそ、<%= current_user.name %>さん！</p>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle-navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav ml-auto">
              </li>
              <% if admin_signed_in? %>
                <li class="nav-item">
                  <%= link_to admin_path, class: 'nav-link text-white' do %>
                    <i class="fas fa-user-friends mr-1"></i>Groups
                  <% end %>
                <li class="nav-item">
                  <%= link_to admin_users_path, class: 'nav-link text-white' do %>
                    <i class="fas fa-users mr-1"></i>Users
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-white' do %>
                    <i class="fas fa-sign-out-alt mr-1"></i>Log out
                  <% end %>
              <% elsif user_signed_in? %>
              <li class="nav-item">
                <%= link_to user_path(current_user.id), class: 'nav-link text-white' do %>
                  <i class="fas fa-user mr-1"></i>MyPage
                <% end %>
              <li class="nav-item">
                <%= link_to groups_path, class: 'nav-link text-white' do %>
                <i class="fas fa-user-friends mr-1"></i>Groups<% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-white' do %>
                  <i class="fas fa-sign-out-alt mr-1"></i>Log out
                <% end %>
              </li>
              <% else %>
              <li class="nav-item">
                <%= link_to new_user_registration_path, class: 'nav-link text-white' do %>
                  <i class="fas fa-user-plus mr-1"></i>Sign up
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: 'nav-link text-white' do %>
                  <i class="fas fa-sign-in-alt mr-1"></i>Log in
                <% end %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
